<link rel="stylesheet" href="/css/lawyerDetail.css" />

  <section class="container" style="margin-top: 100px;">
    <div id="content" class="grid">
      <div class="profile">
        {{> lawyerDetailHeader}}

        <div class="tabs">
          <button id="about-tab" class="tab"></button>
        </div>

        <div id="tab-content" class="tab-content">
          {{> lawyerDetailContent}}
        </div>
      </div>
    </div>
  </section>
