<link rel="stylesheet" href="/css/footer.css">

<div class="footer">
    <p>&copy; Edusity. All rights reserved</p>
    <ul>
        <li>Terms of service</li>
        <li>Privacy policy</li>
    </ul>
</div>