<link rel="stylesheet" href="/css/hero.css">

<div class="hero container">
    <div class="hero-text">
        <h1>We ensure better education for a better world</h1>
        <p>Our cutting-edge curriculum is designed to empower student with the knowledge, skills and experiences nedeed
            to excel in the dinamic field of education</p>
        <button class="btn">Explore more <img src="/assets/img/dark-arrow.png" alt="icono flecha"></button>
    </div>
</div>