<link rel="stylesheet" href="/css/lawyer.css">

<section class="container lawyer-content">
    <div class="content">
        <div class="info" data-category="profile">
           {{> lawyerProfileInfo}}
        </div>
        <div class="edit" data-category="edit" style="display: none;">
            {{> lawyerProfileEdit}}
        </div>
        <div class="citas" data-category="citas" style="display: none;">
            {{> lawyerProfileAppointments}}
        </div>
    </div>
</section>
<div class="buttons container btns-lawyer">
    <button class="btns green" data-category="profile">Mi Perfil</button>
    <button class="btns green" data-category="edit">Editar Perfil</button>
    <button class="btns red" data-category="logout">Cerrar sesión</button>
    <button class="btns red" data-category="delete">Eliminar cuenta</button>
</div>

<script src="/js/lawyerProfile.js"></script>

