<h1 class="title">Perfil de abogado</h1>
<div class="container lawyer-profile">
    <div class="lawyer-profile__header">
        <div class="lawyer-profile__header__image">
            <img src="/assets/img/about.png" alt="avatar">
        </div>
    </div>
</div>
<div class="lawyer-profile__content">
    <div class="lawyer-profile__content__bio">
        <h2 style="text-align: center;">Biografia</h2>
        <p style="text-align: center;">Soy el abogado más ratón</p>
    </div>
    <div class="lawyer-profile__content__contact">
        <p style="text-align: center;">email@examnple.com</p>
        <p style="text-align: center;">3124568965</p>
    </div>
    <div class="lawyer-profile__header__info">
        <h1 style="text-align: center;">Gabriel Castro Ramirez</h1>
        <p style="text-align: center;">Nombre oficina</p>
        <p style="text-align: center;">Calle 98 # 4567</p>
    </div>
    <button class="appointment-btn" data-category="citas">Mis Citas</button>
</div>