<link rel="stylesheet" href="/css/navbar.css">

<nav class="container dark-nav">
    <img src="/assets/img/logo.png" class="logo" alt="logo">
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/abogados">Nuestro Equipo</a></li>
        <li><a href="/sobre-nosotros">Sobre nosotros</a></li>
        <li><a href="/contacto">Contacto</a></li>
        <li>
            <button class="btn"><a href="/login">Ingresar</a></button>
        </li>
    </ul>
    <img class="menu-icon" src="/assets/img/menu-icon.png" alt="responsive menu icon">
</nav>