<link rel="stylesheet" href="/css/register.css">

<section class="register-body">
    <div class="wrapper">
        <div class="form-header">
            <div class="titles">
                <div class="title-register">Registrate</div>
            </div>
        </div>
        <form class="register-form">
            <div class="input-box">
                <input type="text" class="input-field" id="name" autocomplete="off" required>
                <label for="name" class="label">Nombre de usuario</label>
                <i class="bx bx-user icon"></i>
            </div>
            <div class="input-box">
                <input type="text" class="input-field" id="email" autocomplete="off" required>
                <label for="email" class="label">Email</label>
                <i class="bx bx-envelope icon"></i>
            </div>
            <div class="input-box">
                <input type="password" class="input-field" id="password" autocomplete="off" required>
                <label for="password" class="label">Password</label>
                <i class="bx bx-lock-alt icon"></i>
            </div>
            
            <div class="form-cols">
                <div class="col-1 switch-form">
                    <span>Ya tienes cuenta? <a href="/login">Ingresa</a></span>
                </div>
                <div class="col-2"></div>
            </div>
            <div class="form-group flex-between">
                <label class="label">
                    Eres un:
                    <select name="role" class="select-field">
                        <option value="usuario">Usuario</option>
                        <option value="abogado">Abogado</option>
                    </select>
                </label>
                
            </div>
            <div class="input-box">
                <button class="btn-submit" id="SignUpBtn">Crear cuenta <i class="bx bx-log-out"></i></button>
            </div>
        </form>
    </div>
</section>

<script src="/js/register.js"></script>