<section class="container info-section">
    <img src="/assets/img/about.png" class="avatar" alt="avatar del usuario">
    <div class="container info-content">
        <div class="name">
            <h2>Gabriel <span>Castro Ramirez</span></h2>
        </div>
        <p>gbrlcstr@hotmail.com</p>
        <p>3145254587</p>
        <p>Usuario</p>
        <p>Masculino</p>
        <button class="btn-appointments" data-category="citas">Mis Citas</button>
    </div>
</section>