<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
</head>

<body>
    <header>
        {{> navbar}}
    </header>
    <main role="main">
        {{{body}}}
    </main>
    <footer class="container">
        {{> footer}}
    </footer>


    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="/js/main.js"></script>
</body>

</html>